/*

Colors will be used:
Light Blue: #80a7ed
Darker Blue: #3a639b
*/

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* This will be helpful in responsive pages when using 'rem' unit */
}

body {
  font-family: "Rubik", system-ui, sans-serif;
}

/* Reusable classes */

.container,
.game {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.box-button {
  padding: 1rem 2rem;
  border-radius: 9px;
  color: white !important; /* Other style has priority so I had to use '!important' */
  background-color: #3a639b;
}

.box-button:hover {
  background-color: #80a7ed;
}

.subheader {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #3a639b;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0;
  letter-spacing: 0.75px;
}

.subheader-h3 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 0 3.2rem 0;
  text-transform: capitalize;
}

.no-shadow-button {
  border: none;
}

/* Hangman parts */
.figure-head {
  position: relative;
  height: 96%;
  width: 50%;
  border: 0.2rem solid #000000;
  border-radius: 100%;
  left: 75%;
}

.left-arm,
.right-arm,
.left-leg,
.right-leg {
  position: relative; /* Position of the line is relative to the parent, not to the whole page */
}

.left-arm::after,
.left-leg::after {
  content: "";
  height: 2px;
  width: 50%;
  background-color: black;
  position: absolute;
  left: 99%;
  top: 0;
  transform: rotate(135deg);
  transform-origin: 1px 1px;
}

.right-arm::after,
.right-leg::after {
  content: "";
  height: 2px;
  width: 50%;
  background-color: black;
  position: absolute;
  left: -1px;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 1px 1px;
}

.border-left {
  border-left: 0.1rem solid #000000;
}

.border-right {
  border-right: 0.1rem solid #000000;
}
