@media (max-width: 59rem) {
    html {
        font-size: 50%;
    }

    .header {
        padding: 0 3.2rem;
        justify-content: center;
    }

    .nav-logo {
        font-size: 1.6rem;
    }

    .nav-logo img {
        height: 3.2rem;
    }

    .main-nav-link {
        align-self: center;
        margin-top: 2.4rem;
    }

    .main-nav-button-mobile {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
    }

    .hero {
        display: grid;
        grid-template-rows: 3fr;
        gap: 3.2rem;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .main-nav, .contact-us-container, .footer {
        display: none;
    }

    .game .container {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
    }

    .keyboard {
        margin-top: 2.4rem;
    }

    .figure-container {
        max-height: 34rem;
    }

}