/*

Colors will be used:
Theme: #80a7ed
Button: #3a639b
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.nav-logo {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 0.8em;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.logo {
  height: 4.8rem;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.main-nav-link:hover {
  color: #3a639b;
}

.current-page {
  color: #3a639b;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 4.8rem auto;
  max-width: 120rem;
  line-height: 1.2;
}

.hero h1 {
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
}

.hero p {
  font-size: 2rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3.2rem 0 0;
}

.hero-button {
  align-self: flex-start;
}

.hero-img {
  height: 46rem;
}

.game {
  padding: 9.6rem 0;
}

.game .container {
  display: flex;
}

.level-and-tries {
  display: flex;
  justify-content: space-between;
}

.letters {
  width: 50%;
}

.letters input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 12rem;
  height: 12rem;
  text-align: center;
  font-size: 8rem;
  border-radius: 8px;
  border: 1px #3a639b solid;
  margin: 0.6rem;
}

.letters input:focus {
  outline: none;
  border: 0.3rem solid #3a639b;
}

.figure {
  width: 50%;
}

.figure-container {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
}

.c1,
.c2 {
  display: flex;
  flex-direction: column;
}

.c1 {
  border-left: 0.2rem solid #000000;
}

.cell {
  height: 6.4rem;
  width: 14.4rem;

  /* This will make the border inside the div, so it will not mess up the look, for all types of browsers */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* ---------------------------------------------------------------------------------------------------- */
}

.c1-r1 {
  border-top: 0.2rem solid #000000;
}

.c1-r6,
.c2-r6 {
  border-bottom: 0.2rem solid #000000;
}

#play-again-button {
  align-content: center;
}
